@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-black text-slate-400;
    }
}

.nexus-gradient {
    background: radial-gradient(circle at center, rgba(245, 158, 11, 0.05) 0%, transparent 70%);
}

.category-pill {
    @apply px-4 py-1.5 rounded-full text-[10px] font-black uppercase tracking-widest border border-white/10 hover:border-nexus hover:text-nexus transition-all cursor-pointer;
}